{% extends_admingenerated "PolitizrAdminBundle:PDMediaEdit:form.html.twig" %}

{# Image block #}
{% block form_row_block_file_name %}
    <div class="form-group col-md-4">
        <label class="control-label">Image</label>
        <div id="dropzone" class="dropzone" path="{{ path('Politizr_AdminBundle_PDMedia_filename_upload', {'pk': PDMedia.id}) }}" deletePath="{{ path('Politizr_AdminBundle_PDMedia_filename_delete', {'pk': PDMedia.id}) }}" {% if PDMedia | fileExists %}currentFileName="{{ constant('Politizr\\Constant\\DocumentConstants::DOC_THUMBNAIL_PREFIX') }}{{ PDMedia.FileName }}" uploadPath="{{ constant('Politizr\\Constant\\PathConstants::DOCUMENT_UPLOAD_WEB_PATH') }}" fileSize="{{ PDMedia.size }}"{% endif %}>
            <div class="dz-message uploadLink" data-dz-message><span class="btn btn-primary">Télécharger</span></div>
        </div>
        <div id="dz-preview-container">
        </div>
        <div class="dz-preview dz-file-preview">
            <div class="dz-details">
                <img data-dz-thumbnail />
                <div class="dz-size" data-dz-size></div>
                <div class="dz-filename"><span data-dz-name></span></div>

                <div class="dz-progress progress"><span class="dz-upload progress-bar" data-dz-uploadprogress></span></div>
                <div class="dz-error-message"><span data-dz-errormessage></span></div>
                <div class="dz-message" data-dz-remove><span class="btn btn-danger">Supprimer</span></div>
            </div>
        </div>
    </div>
{% endblock %}
