{% extends_admingenerated "PolitizrAdminBundle:PUserShow:index.html.twig" %}

{# Image upload #}
{% block show_column_block_file_name %}
    {% if PUser.FileName %}
        {% include 'PolitizrAdminBundle:Fragment:_image.html.twig' with {'path': constant('Politizr\\Constant\\PathConstants::USER_UPLOAD_WEB_PATH') ~ PUser.FileName} %}
    {% else %}
        Aucune image
    {% endif %}
{% endblock %}

{# User's localization #}
{% block show_column_block_localization %}
    {% if PUser.PLCity %}
        {{ PUser.PLCity.NameReal }}
    {% else %}
        Aucune ville renseignée
    {% endif %}
{% endblock %}

{# Contenus #}
{% block show_column_biography %}
    {{ PUser.biography | purify }}
{% endblock %}

{# Block moderation alert listing #}
{% block show_column_block_moderation_alert_listing %}
    <div id="moderationListing">
        {{ adminModerationAlertListing(PUser.Id) }}
    </div>
{% endblock %}

{# Block front link #}
{% block show_column_block_front %}
    {% if PUser.online %}
        <a href="{{ path('UserDetail', {'slug': PUser.slug}) }}" target="_blank">Consulter</a>
    {% else %}
        Hors ligne
    {% endif %}
{% endblock %}


{% block object_actions_script_container %}
    {# tag js actions & lib #}
    <script>
        var nbZones = 2;
        var service = 'admin';
        var xhrRoute = ADMIN_ROUTE_TAG_LISTING;

        var uploadZones = 2;
    </script>

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/politizr/autocomplete-tools') }}"></script>    
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/politizr/tag/editTags.js') }}"></script>  

    {# upload js #}
    <script type="text/javascript" src="{{ asset('bundles/politizradmin/js/jquery.form.min.js') }}"></script>  
    <script type="text/javascript" src="{{ asset('bundles/politizradmin/js/politizr/uploadImage.js') }}"></script>  

    {# moderation js #}
    <script type="text/javascript" src="{{ asset('bundles/politizradmin/js/politizr/moderation/notification.js') }}"></script>
{% endblock object_actions_script_container %}
