<div class="grpTable">
    <div class="grpTableRow grpTableHeader">
        <div class="grpTableCel grpTableLargeCel">Communes</div>
        <div class="grpTableCel grpTableSmallCel">Nb de prises prévues</div>
        <div class="grpTableCel grpTableSmallCel">Maître d'ouvrage</div>
        <div class="grpTableCel grpTableLargeCel">Travaux à partir de</div>
        <div class="grpTableCel grpTableLargeCel">Mise en service estimée</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Aigues-Vives</div>
        <div class="grpTableCel grpTableSmallCel">297</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">La Bastide-de-Bousignac</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">193</div><div class="grpTableSplitCel">13</div></div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">2021-2023</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel"></div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">La Bastide-sur-l'Hers</div>
        <div class="grpTableCel grpTableSmallCel">533</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Belloc</div>
        <div class="grpTableCel grpTableSmallCel">45</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Besset</div>
        <div class="grpTableCel grpTableSmallCel">90</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Camon</div>
        <div class="grpTableCel grpTableSmallCel">141</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Cazals-les-Baylès</div>
        <div class="grpTableCel grpTableSmallCel">37</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Coutens</div>
        <div class="grpTableCel grpTableSmallCel">96</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Dun</div>
        <div class="grpTableCel grpTableSmallCel">354</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">Juin 2018</div>
        <div class="grpTableCel grpTableLargeCel">T2 2019</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Esclagne</div>
        <div class="grpTableCel grpTableSmallCel">76</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lagarde</div>
        <div class="grpTableCel grpTableSmallCel"><div class="grpTableSplitCel">141</div><div class="grpTableSplitCel">25</div></div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2019</div><div class="grpTableSplitCel">2021-2023</div></div>
        <div class="grpTableCel grpTableLargeCel"><div class="grpTableSplitCel">2020</div><div class="grpTableSplitCel"></div></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Lapenne</div>
        <div class="grpTableCel grpTableSmallCel">79</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Laroque d'Olmes</div>
        <div class="grpTableCel grpTableSmallCel">1616</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Léran</div>
        <div class="grpTableCel grpTableSmallCel">481</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Limbrassac</div>
        <div class="grpTableCel grpTableSmallCel">73</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Malegoude</div>
        <div class="grpTableCel grpTableSmallCel">29</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Manses</div>
        <div class="grpTableCel grpTableSmallCel">88</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Mirepoix</div>
        <div class="grpTableCel grpTableSmallCel">2269</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Montbel</div>
        <div class="grpTableCel grpTableSmallCel">73</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Moulin-Neuf</div>
        <div class="grpTableCel grpTableSmallCel">124</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Le Peyrat</div>
        <div class="grpTableCel grpTableSmallCel">276</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Pradettes</div>
        <div class="grpTableCel grpTableSmallCel">22</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Régat</div>
        <div class="grpTableCel grpTableSmallCel">50</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Rieucros</div>
        <div class="grpTableCel grpTableSmallCel">326</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Roumengoux</div>
        <div class="grpTableCel grpTableSmallCel">106</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Félix-de-Tournegat</div>
        <div class="grpTableCel grpTableSmallCel">82</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Sainte-Foi</div>
        <div class="grpTableCel grpTableSmallCel">15</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Julien-de-Gras-Capou</div>
        <div class="grpTableCel grpTableSmallCel">28</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Saint-Quentin-la-Tour</div>
        <div class="grpTableCel grpTableSmallCel">175</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Tabre</div>
        <div class="grpTableCel grpTableSmallCel">202</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Teilhet</div>
        <div class="grpTableCel grpTableSmallCel">107</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Tourtrol</div>
        <div class="grpTableCel grpTableSmallCel">124</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Troye-d'Ariège</div>
        <div class="grpTableCel grpTableSmallCel">71</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2019</div>
        <div class="grpTableCel grpTableLargeCel">2020</div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Vals</div>
        <div class="grpTableCel grpTableSmallCel">53</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
    <div class="grpTableRow">
        <div class="grpTableCel grpTableLargeCel">Viviès</div>
        <div class="grpTableCel grpTableSmallCel">52</div>
        <div class="grpTableCel grpTableSmallCel"><img src="{{ asset('bundles/politizrfront/images/grp-ariegeTHD/CD09.png') }}"></div>
        <div class="grpTableCel grpTableLargeCel">2021-2023</div>
        <div class="grpTableCel grpTableLargeCel"></div>
    </div>
</div>
