{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% extends layout %}
{% set headerRight = false %}

{% set metaTitle = 'Bien Dit, le réseau social de la citoyenneté' %}
{% set metaDescription = 'POLITIZR propose aux collectivités et aux associations BIEN DIT, son réseau social de la citoyenneté pour créer des consultations et faire réagir leurs concitoyennes et concitoyens aux projets qu\'elles portent.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor noHeaderTrigger"{% endblock %}

{% block main %}
    <div id="lpGeneric">
        <div id="lpHero">
            <div class="center">
                <h1>BIEN DIT, le réseau social citoyen à votre image !</h1>
                <h2>Maximisez l’engagement de vos concitoyen.ne.s sur le long terme</h2>
                <div id="f-display"><img src="{{ asset('bundles/politizrfront/images/f-display.png') }}" alt="Collectivités publiques"></div>
                <div id="f-accessories"><img src="{{ asset('bundles/politizrfront/images/f-accessories.png') }}"></div>
            </div>
            <div id="lpHeroFader"></div>
        </div>
        <div id="lpUnderHero">
            <div class="center">
                <h3>BIEN DIT est l'outil idéal pour organiser un grand débat à l'échelle de votre territoire !</h3>
                Ce service est destiné aux collectivités désireuses d’ouvrir un canal de discussion adapté, protégé et indépendant avec leurs concitoyen.ne.s. BIEN DIT est tout à la fois simple, constructif et paramétrable.
                <br/><br/>
                BIEN DIT vous permet de faire dialoguer efficacement votre propre équipe d’animateurs (élus, services techniques, etc.) avec les utilisateurs en générant des consultations à la volée sur des thématiques de votre choix: vous créez autant de consultations que vous le souhaitez et les organisez librement en différentes thématiques de discussions. Vous pouvez choisir de n’ouvrir des consultations qu’à un certain groupe de personnes, tout comme vous pouvez choisir d’ouvrir les discussions pour permettre des échanges directement entre vos administré.e.s!
                <br/><br/>
                <i>La plateforme BIEN DIT est disponible à partir de 100€HT/mois, sans engagements.</i>
            </div>
        </div>
        <div id="lpCTA">
            <div class="center">
                <a href="#lpContact">En savoir plus</a>
            </div>
        </div>
        <div id="lpArgu">
            <div class="center">
                <div class="lpLeftCol">
                    <p>
                        {% include 'PolitizrFrontBundle:Public\\LandingPage:_wordingGD.html.twig' %}  Nous invitons chaque collectivité à reproduire cette expérience chez elle et dans la durée en faisant appel à nos services !
                    </p>
                    <img src="{{ asset('bundles/politizrfront/images/f-illustr01.jpg') }}">
                </div>
                <div class="lpRightCol">
                    <h3>SIMPLE</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Inscription en 2 clics</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Expression en 1 clic</div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Gestion de commentaires</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Trie des contributions</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Notifications</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Votes + ou -</p></div>
                    <h3>CONSTRUCTIF</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Gestion dans la durée</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Expression simple ou complexe</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Dialogue protégé</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Charte de bonne conduite</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Respect des données</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Sans publicité</p></div>
                    <h3>PARAMÉTRABLE</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Réseau privé ou public</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Consultations privées ou publiques</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Intégration de vos logos</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Espace d'administration</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Données en Open Data</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>URL dédiée</p></div>
                    <h3>&nbsp;</h3>
                </div>
            </div>
        </div>

        <div id="lpCTA">
            <div class="center">
                    <b>Vous voulez organiser une consultation ponctuelle ?</b>
                    <br/><br/>
                    Découvrez nos autres <a href="{{ path('LandingPage', { 'theme': 'offres-collectivites'}) }}"><b>offres</b></a> pour recueillir l'avis de vos administré.e.s !<br/><br/>
            </div>
        </div>

        {% include 'PolitizrFrontBundle:Public\\LandingPage:_blockMarianne.html.twig' %}
        
        <div id="lpContact">
            <div class="center">
                <div class="lpLeftCol">
                    Contactez-nous pour en savoir plus ou programmer une démo :<br/> <a href="mailto:contact@politizr.com">contact@politizr.com</a><br>
                    <br/>ou par téléphone au <b>09. 50. 42. 09. 34</b>
                </div>
                <div class="lpRightCol">
                    {% include 'PolitizrFrontBundle:Public\\LandingPage:_formContact.html.twig' with { 'phone': true, 'city' : true, 'department' : false } %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url~'?v'~assets_version }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
