{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% extends layout %}
{% set headerRight = false %}

{% set metaTitle = 'Boîte à Idées Numérique' %}
{% set metaDescription = 'Politizr vous propose une boîte à idées numérique gratuite pour votre collectivité.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor noHeaderTrigger"{% endblock %}

{% block main %}
    <div id="lpGeneric">
        <div id="lpHero">
            <div class="center">
                <h1>Une boîte à idées numérique gratuite pour votre collectivité !</h1>
                <h2>Pour permettre à vos administré.e.s d’exprimer leurs idées dans un cadre adapté...</h2>
                <div id="f-display"><img src="{{ asset('bundles/politizrfront/images/f-display.png') }}" alt="Boîte à Idées Numérique"></div>
                <div id="f-accessories"><img src="{{ asset('bundles/politizrfront/images/f-accessories.png') }}"></div>
            </div>
            <div id="lpHeroFader"></div>
        </div>
        <div id="lpUnderHero">
            <div class="center">
                POLITIZR déploie pour les collectivités locales une BOÎTE À IDÉES numérique: accessible très simplement depuis une URL dédiée, vos administré.e.s pourront accéder à un espace réservé pour leur permettre de remonter leurs doléances et leurs idées.<br/><br/>
                <b>Service gratuit et sans engagement</b>
            </div>
        </div>
        <div id="lpCTA">
            <div class="center">
                <a href="#lpContact">En savoir plus</a>
            </div>
        </div>        <div id="lpArgu">
            <div class="center">
                <div class="lpLeftCol">
                    <p>
                        POLITIZR propose aux collectivités un service numérique de “BOÎTE À IDÉES” pour permettre à leurs concitoyennes et concitoyens de proposer leurs idées dans un cadre protégé.
                    </p>
                    <img src="{{ asset('bundles/politizrfront/images/f-illustr01.jpg') }}">
                </div>
                <div class="lpRightCol">
                    <h3>La BOÎTE À IDÉES est SIMPLE</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Page de présentation dédiée</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Inscription en 2 clics</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Bandeau d’accroche pour vos administré.e.s les invitant à s’exprimer</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Commentaires sur les publications</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Votes + ou - sur les publications et commentaires</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Listing des propositions citoyennes et de vos réponses</p></div>
                    <h3>La BOÎTE À IDÉES est CONSTRUCTIVE</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Éditeur permettant une expression très simple ou plus complexe</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Dialogue protégé avec le profil défini pour votre collectivité</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Charte de bonne conduite</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Données protégées et sans publicité</p></div>
                    <h3>La BOÎTE À IDÉES est FACILE</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Mise en place rapide</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Paramétrage et modération par nos équipes</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Alertes automatiques en cas de nouveautés</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>URL dédiée</p></div>
                    <h3>&nbsp;</h3>
                </div>
            </div>
        </div>

        <div id="lpCTA">
            <div class="center">
                    <b>Vous cherchez une offre plus souple et plus puissante ?</b>
                    <br/><br/>
                    Découvrez notre <a href="{{ path('LandingPage', { 'theme': 'bien-dit'}) }}"><b>réseau social citoyen</b></a> dédié aux collectivités !<br/><br/>
            </div>
        </div>

        {% include 'PolitizrFrontBundle:Public\\LandingPage:_blockMarianne.html.twig' %}
        
        <div id="lpContact">
            <div class="center">
                <div class="lpLeftCol">
                    Contactez-nous pour en savoir plus : <a href="mailto:contact@politizr.com">contact@politizr.com</a><br>
                    ou par téléphone au <b>09. 50. 42. 09. 34</b>
                </div>
                <div class="lpRightCol">
                    {% include 'PolitizrFrontBundle:Public\\LandingPage:_formContact.html.twig' with { 'phone': true, 'city' : true } %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}

{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("LP Concertation Publique");
        </script>
    {% endif %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
