{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% extends layout %}
{% set headerRight = false %}

{% set metaTitle = 'Élus locaux' %}
{% set metaDescription = 'Politizr est une plateforme qui favorise un dialogue constructif entre les citoyens et les élus locaux.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor"{% endblock %}

{% block main %}
    <div id="lpGeneric">
        <div id="lpHero">
            <div class="center">
                <h1>En 2019, un dialogue constructif entre les citoyens et les élus existe...</h1>
                <div id="f-display"><img src="{{ asset('bundles/politizrfront/images/f-display.png') }}" alt="Élus locaux"></div>
                <div id="f-accessories"><img src="{{ asset('bundles/politizrfront/images/f-accessories.png') }}"></div>
            </div>
            <div id="lpHeroFader"></div>
        </div>
        <div id="lpUnderHero">
            <div class="center">
                POLITIZR est un espace de discussion indépendant, neutre et gratuit qui renouvelle les pratiques politiques en permettant des échanges structurés et constructifs entre les citoyen.ne.s, les élu.e.s locaux et leurs collectivités partout en France. Citoyen, conseiller municipal, adjoint au maire, maire, conseiller départemental, conseiller régional, député... notre service est gratuit et ouvert à toutes et à tous!
            </div>
        </div>
        <div id="lpArgu">
            <div class="center">
                <div class="lpLeftCol">
                    <p>
                        Politizr est un site web qui renouvelle le dialogue citoyen en l'inscrivant dans l'ère numérique. Venez exprimer vos opinions sur votre ville et instaurez un dialogue direct et transparent avec vos élus locaux.
                        <br/><br/>
                        Nous travaillons à améliorer la démocratie locale en proposant un espace de discussion qui favorise les échanges structurées et argumentées dans un temps long propice à la qualité du débat.
                    </p>
                    <img src="{{ asset('bundles/politizrfront/images/f-illustr01.jpg') }}">
                </div>
                {% include 'PolitizrFrontBundle:Public\\LandingPage:_blockAdvantages.html.twig' %}
            </div>
        </div>

        <div id="lpCTA">
            <div class="center">
                <a href="{{ path('Concept') }}">En savoir plus</a>
            </div>
        </div>

        {% include 'PolitizrFrontBundle:Public\\LandingPage:_blockMarianne.html.twig' %}
        
        <div id="lpContact">
            <div class="center">
                <div class="lpLeftCol">
                    Contactez-nous pour plus d'informations : <a href="mailto:contact@politizr.com">contact@politizr.com</a><br>
                    ou par téléphone au <b>09. 50. 42. 09. 34</b>
                </div>
                <div class="lpRightCol">
                    {% include 'PolitizrFrontBundle:Public\\LandingPage:_formContact.html.twig' with { 'phone': true, 'city' : true } %}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}


{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url~'?v'~assets_version }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
