{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% extends layout %}
{% set headerRight = false %}

{% set metaTitle = 'Participez au Grand Débat National' %}
{% set metaDescription = 'Participez Grand Débat National sur un site neutre et indépendant !' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor"{% endblock %}

{% block main %}
    <div id="lpGeneric">
        <div id="lpHero">
            <div class="center">
                <h1>Grand Débat National, c'est le moment !</h1>
                <h2>Exprimez-vous librement sur un site neutre et indépendant pour participer Grand Débat National</h2>
                <div id="f-display"><img src="{{ asset('bundles/politizrfront/images/f-display.png') }}" alt="Actualités Ariège"></div>
                <div id="f-accessories"><img src="{{ asset('bundles/politizrfront/images/f-accessories.png') }}"></div>
            </div>
            <div id="lpHeroFader"></div>
        </div>
        <div id="lpUnderHero">
            <div class="center">
                POLITIZR est un espace de discussion indépendant, neutre et gratuit qui permet des échanges structurés et constructifs entre les citoyen.ne.s et leurs élu.e.s.<br/><br/>
                <h2>Exprimez-vous sur une plateforme apolitique !</h2>
                Françaises, Français!<br><br>
                A l’initiative du Président de la République, le Gouvernement engage un grand débat national permettant à toutes et tous de débattre de questions essentielles pour les Français. <br><br>
                <b>Chacun pouvant organiser un débat, POLITIZR, plateforme neutre et indépendante, a décidé d'organiser le Grand Débat National à sa façon !</b><br><br>
                Nous reprenons les thématiques proposées par le gouvernement et nous ajouterons de nouvelles thématiques issues des doléances citoyennes publiées par ailleurs sur notre plateforme.
                <br><br>
                <b>Pour enrichir le débat, nous invitons les utilisateurs à débattre en proposant leurs réponses aux propositions publiées.</b><br><br>
                La suite sera construite avec vous pour exploiter au mieux vos contributions...<br><br>
            </div>
        </div>

        <div id="lpCTA">
            <div class="center">
                <a href="{{ path('CircleDetail', {'slug': 'le-grand-debat-national'}) }}">Découvrir</a>
            </div>
        </div>

        {#
        <div id="postSelection">
            <div class="center">
                <h1>Les dernières doléances citoyennes</h1>
                <h2>Citoyens et élus... Partout en France !</h2>
                
                {% for document in documents %}
                    {% if loop.first or loop.index0 is divisible by(2) %}
                        <div class="cardColumn">
                    {% endif %}
                        {% include 'PolitizrFrontBundle:Document:_cardPublic.html.twig' %}
                    {% if loop.last or loop.index is divisible by(2) %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div id="lpCTA">
            <div class="center">
                <a href="{{ path('InscriptionChoice') }}">Inscription</a>
            </div>
        </div>
        #}

        <div id="lpArgu">
            <div class="center">
                <div class="lpLeftCol">
                    <p>
                        POLITIZR propose un réseau social de dialogue citoyen permettant de reconnecter les citoyen.ne.s et leurs élu.e.s.
                        <br/><br/>
                        Nous travaillons à améliorer la démocratie participative en proposant à nos utilisateurs citoyens et élus d'échanger via un espace de discussion qui favorise les échanges structurées et argumentées dans un temps long propice à la qualité du débat.
                    </p>
                    <img src="{{ asset('bundles/politizrfront/images/f-illustr01.jpg') }}">
                </div>
                <div class="lpRightCol">
                    <h3>Vous êtes un citoyen prêt à s'exprimer?</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Discutez directement avec vos élu.e.s.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Commentez et notez toutes les discussions ouvertes.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Partagez votre opinion sur l'actualité auprès de vos concitoyen.ne.s et élu.e.s.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Participez à des échanges suivant vos centres d'intérêt.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Accédez à l'ensemble des publications de votre territoire et d'ailleurs.</p></div>
                    <div class="lpCheckLi"><i class="icon-social-fb"></i><p>&nbsp;Visualisez l'impact sur Facebook de vos publications.</p></div>
                    <br/>
                    <h3>Vous êtes un élu moderne?</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Expliquez vos actions à vos concitoyen.ne.s.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Répondez aux questions et aux opinions d'actualité de vos concitoyen.ne.s.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Faîtes profiter d'autres élu.e.s de vos retours d'expérience.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Participez à des échanges suivant l'actualité et vos centres d'intérêt.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Accédez à l'ensemble des publications aux niveaux local et national.</p></div>
                    <div class="lpCheckLi"><i class="icon-social-fb"></i><p>&nbsp;Visualisez l'impact Facebook de vos publications sur votre territoire.</p></div>
                    <h3>Vous êtes une collectivité?</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p><a href="{{ path('LandingPage', { 'theme': 'offres-collectivites'}) }}">Découvrez nos offres de démocratie participative pour votre collectivité !</a></div>
                    <h3>&nbsp;</h3>
                </div>
            </div>
        </div>

        <div id="lpCTA">
            <div class="center">
                <a href="{{ path('CircleDetail', {'slug': 'le-grand-debat-national'}) }}">Découvrir</a>
            </div>
        </div>

        {% include 'PolitizrFrontBundle:Public\\LandingPage:_blockMarianne.html.twig' %}

        <div id="lpContact">
            <div class="center">
                <div class="lpLeftCol">
                    Envie de participer au grand débat plus rapidement?<br/>
                    Vous pouvez aussi simplement remplir ce questionnaire!
                </div>
                <div class="lpRightCol">
                    {% include 'PolitizrFrontBundle:Public\\LandingPage:_formContact.html.twig' with { 'phone': false, 'city' : true } %}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}


{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("LP");
        </script>
    {% endif %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
