{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% extends layout %}
{% set headerRight = false %}

{% set metaTitle = 'Offres Collectivités' %}
{% set metaDescription = 'POLITIZR propose aux collectivités son service numérique de dialogue citoyen pour leur permettre de diffuser de l’information et d’associer leurs concitoyennes et concitoyens aux projets qui façonnent leur territoire.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor noHeaderTrigger"{% endblock %}

{% block main %}
    <div id="lpGeneric">
        <div id="lpHero">
            <div class="center">
                <h1>En 2019, il est temps pour les collectivités d'impliquer leurs administré.e.s!</h1>
                <h2>Découvrez nos services de consultations</h2>
                <div id="f-display"><img src="{{ asset('bundles/politizrfront/images/f-display.png') }}" alt="Collectivités publiques"></div>
                <div id="f-accessories"><img src="{{ asset('bundles/politizrfront/images/f-accessories.png') }}"></div>
            </div>
            <div id="lpHeroFader"></div>
        </div>
        <div id="lpUnderHero">
            <div class="center">
                <h1>POLITIZR TERRITOIRES, ORGANISEZ VOTRE CONSULTATION</h1>
                <h3>Faites réagir vos concitoyen.ne.s sur un sujet porté par votre collectivité !</h3>
                Ce service est adapté pour les collectivités qui souhaitent faire réagir leurs administré.e.s de façon ponctuelle en profitant notamment de la base d’utilisateurs déjà inscrits sur notre plateforme!
                <br/><br/>
                Quelque soit la taille de votre collectivité, profitez de notre expérience du débat en ligne pour faire réagir vos administré.e.s...
                <br/><br/>
                <i>Le service de consultation de POLITIZR est disponible au tarif unique de 990€HT pour une durée comprise entre 1 et 3 mois.</i>
            </div>
        </div>
        <div id="lpCTA">
            <div class="center">
                <a href="#lpContact">En savoir plus</a>
            </div>
        </div>
        <div id="lpUnderHero">
            <div class="center">
                <h1>BIEN DIT, LE RÉSEAU SOCIAL CITOYEN À VOTRE IMAGE</h1>
                <h3>Maximisez l’engagement de vos concitoyen.ne.s sur le long terme !</h3>
                Ce service est destiné aux collectivités désireuses d’ouvrir un canal de discussion adapté, protégé et indépendant avec leurs concitoyen.ne.s. BIEN DIT est tout à la fois simple, constructif, respectueux et paramétrable!
                <br/><br/>
                <i>La plateforme BIEN DIT est disponible à partir de 100€HT/mois, sans engagements.</i>
            </div>
        </div>
        <div id="lpCTA">
            <div class="center">
                <a href="{{ path('LandingPage', { 'theme': 'bien-dit'}) }}">En savoir plus</a>
            </div>
        </div>
        <div id="lpArgu">
            <div class="center">
                <div class="lpLeftCol">
                    <p>
                        {% include 'PolitizrFrontBundle:Public\\LandingPage:_wordingGD.html.twig' %}  Nous invitons chaque collectivité à reproduire cette expérience chez elle et dans la durée en faisant appel à nos services !
                    </p>
                    <img src="{{ asset('bundles/politizrfront/images/f-illustr01.jpg') }}">
                </div>
                <div class="lpRightCol">
                    <h3>Récompenses</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Finaliste Prix de la Démocratie 2018</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Lauréat Prix du Jury Occistart 2017</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Sélection "Les 1000 qui font l'économie de demain" par Générations French Tech</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Finaliste Trophée de l'Économie Numérique 2016</p></div>
                    <h3>Ils parlent de nous</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>France Inter</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Acteurs Publiques</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>France 3</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Microsoft RSLN</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>La Tribune</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Maddyness</p></div>
                    <h3>Nos Clients</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Ariège Le Département</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Science Po</div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Et bien d'autres...</p></div>
                    <h3>&nbsp;</h3>
                </div>
            </div>
        </div>

        {% include 'PolitizrFrontBundle:Public\\LandingPage:_blockMarianne.html.twig' %}
        
        <div id="lpContact">
            <div class="center">
                <div class="lpLeftCol">
                    Contactez-nous pour en savoir plus :<br/> <a href="mailto:contact@politizr.com">contact@politizr.com</a><br>
                    <br/>ou par téléphone au <b>09. 50. 42. 09. 34</b>
                </div>
                <div class="lpRightCol">
                    {% include 'PolitizrFrontBundle:Public\\LandingPage:_formContact.html.twig' with { 'phone': true, 'city' : true } %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url~'?v'~assets_version }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
