{# beta #}
{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% set headerRight = false %}

{% set metaTitle = 'Départementales 2021' %}
{% set metaDescription = 'Services Civic Tech de consultations et d\'intelligence collective pour les candidats aux départementales de 2021.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block ogVideo %}<meta property='og:video' content='https://www.youtube.com/v/7WHZpebc9q4' />{% endblock ogVideo %}
{% block tcPlayer %}<meta name="twitter:player" content="https://www.youtube.com/embed/7WHZpebc9q4" />{% endblock tcPlayer %}

{% block javascriptHeader %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.youtubebackground.js?v'~assets_version) }}"></script>  

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/home.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url~'?v'~assets_version }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block bodyClass %} class="public visitor noHeaderTrigger"{% endblock %}

{% block main %}
    <div id="publicVideo">
        <div id="videoOverlay">
            <div id="videoText">
                <h1>Ouvrez le dialogue pour les élections départementales 2021 !<br/></h1>
                <h2>Proposez une campagne avec une consultation numérique à vos concitoyens...</h2>
            </div>
            <div id="goDown" action="scrollVideo">
                Découvrir<br><img src="{{ asset('bundles/politizrfront/images/f-arrowGoDown.svg') }}">
            </div>
        </div>
        <div id="video"></div>
        <div id="videoLoader"></div>
        <div id="ifNoVideo"><img src="{{ asset('bundles/politizrfront/images/f-ifNoVideo.jpg') }}"></div>
    </div>
    
    <div id="triggerVideo"></div>

    <div id="videoFooter">
        <div class="center">
            <div id="yellowBlock">
                <span>
                    Acteur historique de la CivicTech, POLITIZR propose un outil sur mesure et adapté à la <b>campagne des départementales</b> : recueillez des opinions, répondez aux questions et précisez votre programme de façon constructive et efficace !
                </span>
            </div>
            <div id="blueBlock">
                <span>Rejoignez les équipes déjà équipées...</span>
            </div>
        </div>
    </div>

    <div id="bannerPromo" class="bannerPromoSenatoriales">
        <div class="center">
            <div class="txtBannerPromo">
                <h1>ÉLECTIONS DÉPARTEMENTALES 2021</h1>
                <b>CONSULTEZ VOS ÉLECTEURS EN LIGNE !</b><br><br>
                <span>
<b>Associez votre campagne à un espace de discussion numérique<br>
Recueillez l’expression de vos sympathisants<br>
Découvrez les centres d’intérêt de vos électeurs<br><br>
Site dédié<br>
Livraison clef en main<br>
Déploiement rapide<br>
Données sécurisées<br>
Pas de publicités</b><br>
<br><br>
Disponible sur mobile et ordinateur à partir d’une adresse web personnalisée, BIEN DIT est un espace d'échanges numériques permettant de faire dialoguer votre équipe avec vos électeurs. Très complémentaire des réseaux sociaux (Facebook, Twitter, etc.), notre outil vous permettra d'élever le débat et de préciser votre programme de façon constructive. Nous proposons une offre "clef en main" comprenant la configuration technique, la mise en place de vos contenus et la formation à distance des animateurs : contactez-nous pour une démo ou des informations complémentaires !
                    <br><br>
                    <a href="#formDirectMessage">Contactez nous pour plus d'informations</a>
                </span>
            </div>
        </div>
    </div>

    <div id="lpGeneric">
        {% include 'PolitizrFrontBundle:Public\\LandingPage:_blockMarianne.html.twig' %}
        <div id="lpContact">
            <div class="center">
                <div class="lpLeftCol">
                    Contactez-nous pour en savoir plus :<br/> <a href="mailto:contact@politizr.com">contact@politizr.com</a><br>
                    <br/>ou Lionel notre responsable campagne au <br/> <b>06. 78. 58. 27. 45</b>
                </div>
                <div class="lpRightCol">
                    {% include 'PolitizrFrontBundle:Public\\LandingPage:_formContact.html.twig' with { 'phone': true, 'city': false, 'department': true } %}
                </div>
            </div>
        </div>
    </div>    

    <div id="bannerPromo" class="bannerPress">
        <div class="center">
            <div class="press">
                <h1>Ils parlent de nous</h1>
                <img src="{{ asset('bundles/politizrfront/images/f-press.jpg') }}">
            </div>
            <div class="trophy">
                <h1>Récompences</h1>
                <div class="trophyItem">
                    <img src="{{ asset('bundles/politizrfront/images/f-trophy5.jpg') }}">
                    <div class="trophyItemText">Finaliste Prix de la Démocratie 2018.</div>
                </div>
                <div class="trophyItem">
                    <img src="{{ asset('bundles/politizrfront/images/f-trophy1.jpg') }}">
                    <div class="trophyItemText">Lauréat Prix du jury Occistart 2017.</div>
                </div>
                <div class="trophyItem">
                    <img src="{{ asset('bundles/politizrfront/images/f-trophy2.jpg') }}">
                    <div class="trophyItemText">Sélection "Les 1000 qui font l'économie française de demain" par Génération French Tech.</div>
                </div>
                <div class="trophyItem">
                    <img src="{{ asset('bundles/politizrfront/images/f-trophy3.jpg') }}">
                    <div class="trophyItemText">Lauréat Synerthon 2016, organisation & management pour le dialogue inter-entreprises.</div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url~'?v'~assets_version }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
