{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% extends layout %}
{% set headerRight = false %}

{% set metaTitle = 'Municipales 2020' %}
{% set metaDescription = 'Services Civic Tech de consultations et d\'intelligence collective pour les candidats aux municipales de 2020.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor noHeaderTrigger"{% endblock %}

{% block main %}
    <div id="lpGeneric">
        <div id="lpHero">
            <div class="center">
                <h1>Ouvrez le dialogue pour les Élections Municipales 2020 !</h1>
                <h2>Engagez vos concitoyens autour de votre candidature...</h2>
                <div id="f-display"><img src="{{ asset('bundles/politizrfront/images/f-display.png') }}" alt="Collectivités publiques"></div>
                <div id="f-accessories"><img src="{{ asset('bundles/politizrfront/images/f-accessories.png') }}"></div>
            </div>
            <div id="lpHeroFader"></div>
        </div>
        <div id="lpUnderHero">
            <div class="center">
                <h1>MUNICIPALES 2020 : CO-CONSTRUISEZ VOTRE PROGRAMME AVEC VOS FUTURS ÉLECTEURS !</h1>
                <h3>Embarquez la démocratie participative au coeur de votre campagne !</h3>
                POLITIZR propose un service nommé BIEN DIT destiné aux candidats souhaitant ouvrir un canal de discussion adapté, protégé et indépendant avec leurs concitoyen.ne.s pour les élections municipales de 2020. <b>BIEN DIT est tout à la fois simple, constructif et paramétrable!</b>
                <br/><br/>
                Disponible sur mobile et ordinateur à partir d’une adresse web personnalisée, BIEN DIT est une plateforme SaaS sécurisée, configurée aux couleurs de votre équipe de campagne. Inspiré par la plateforme POLITIZR, nous avons utilisé notre savoir-faire pour le développer et le mettre à disposition <b>à destination des équipes candidates aux élections municipales de 2020 désireuses d’ouvrir un canal de discussion constructif avec leurs concitoyens</b>.
                <br/><br/>
                BIEN DIT vous permet de faire <b>dialoguer efficacement votre équipe avec les électeurs en générant des consultations à la volée sur des thématiques de votre choix</b>, pour par exemple générer une discussion sur votre programme. Vous pouvez aussi utiliser BIEN DIT pour inviter les gens à proposer leurs idées ou à prolonger vos réunions publiques!
                <br/><br/>
                BIEN DIT dispose de nombreuses fonctionnalités et paramétrages à votre convenance: grâce à <b>nos fonctionnalités de partage et au branchement intégré des APIs de Facebook</b>, vous pourrez en particulier utiliser la puissance de Facebook et de Whatsapp pour relayer vos réponses! BIEN DIT est <b>déployé de façon indépendante</b> et vous aurez accès à un <b>puissant module d’administration</b> vous permettant de gérer les pages de contenus, les utilisateurs, les publications, la modération, etc.
                <br/><br/>
                Notre équipe s'occupe de toute la partie technique pour vous livrer <b>un outil clef en main</b>: vous pourrez aussi nous solliciter pour un accompagnement plus personnalisé et découvrir des outils complémentaires fournis par nos partenaires. <a href="#lpContact">Contactez-nous!</a>
            </div>
        </div>
        <div id="lpCTA">
            <div class="center">
                <a href="https://demo.bien-dit.com" target="_blank">Testez notre démo</a>
            </div>
        </div>
        <div id="lpArgu">
            <div class="center">
                <div class="lpLeftCol">
                    <p>
                        {% include 'PolitizrFrontBundle:Public\\LandingPage:_wordingGD.html.twig' %}  Nous invitons les candidats aux élections municipales de 2020 à profiter de notre expérience des consultations publiques !
                    </p>
                    <img src="{{ asset('bundles/politizrfront/images/f-illustr01.jpg') }}">
                </div>
                <div class="lpRightCol">
                    <h3>Récompenses</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Finaliste Prix de la Démocratie 2018</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Lauréat Prix du Jury Occistart 2017</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Sélection "Les 1000 qui font l'économie de demain" par Générations French Tech</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Finaliste Trophée de l'Économie Numérique 2016</p></div>
                    <h3>Ils parlent de nous</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>France Inter</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Acteurs Publiques</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>France 3</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Microsoft RSLN</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>La Tribune</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Maddyness</p></div>
                    <h3>Nos Clients</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Axelle Lemaire, Michel Larive, Elisabeth Toutut Picard, ...</div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Ariège Le Département</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Science Po</div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Et bien d'autres...</p></div>
                    <h3>&nbsp;</h3>
                </div>
            </div>
        </div>

        {% include 'PolitizrFrontBundle:Public\\LandingPage:_blockMarianne.html.twig' %}
        
        <div id="lpContact">
            <div class="center">
                <div class="lpLeftCol">
                    Contactez-nous pour en savoir plus ou programmer une démo :<br/> <a href="mailto:bonjour@bien-dit.com">bonjour@bien-dit.com</a><br>
                    <br/>ou notre responsable campagne au <b>06. 78. 58. 27. 45</b>
                </div>
                <div class="lpRightCol">
                    {% include 'PolitizrFrontBundle:Public\\LandingPage:_formContact.html.twig' with { 'phone': true, 'city' : true } %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url~'?v'~assets_version }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
