{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% extends layout %}
{% set headerRight = false %}

{% set metaTitle = 'Territoires Educatifs Ariège' %}
{% set metaDescription = 'Participez aux réflexions sur l\'éducation et la jeunesse en Ariège' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor"{% endblock %}

{% block main %}
    <div id="lpGeneric">
        <div id="lpHero">
            <div class="center">
                <h1>Territoires Educatifs en Ariège</h1>
                <h2>Vous pourrez, chacun à votre niveau, vous exprimer autour des questions éducatives et des projets autour des enfants et des jeunes.</h2>
                <div id="f-display"><img src="{{ asset('bundles/politizrfront/images/f-display.png') }}" alt="Actualités Ariège"></div>
                <div id="f-accessories"><img src="{{ asset('bundles/politizrfront/images/f-accessories.png') }}"></div>
            </div>
            <div id="lpHeroFader"></div>
        </div>
        <div id="lpUnderHero">
            <div class="center">
                TERRITOIRES EDUCATIFS vous invite sur son espace de discussion qui permet des échanges structurés et constructifs entre les citoyen.ne.s et leurs élu.e.s de l'Ariège sur les question d'éducation.<br/><br/>
                <h2>Exprimez-vous et partagez vos réflexions !</h2>
                Au vue de la situation exceptionnelle que nous vivons actuellement, TERRITOIRES EDUCATIFS en Ariège vous propose de faire part de vos réflexions sur nos pratiques, nos fonctionnements, nos relations au territoire et à ses habitants...
                <br><br>
                Comment la situation exceptionnelle que nous vivons aujourd’hui interroge nos pratiques, nos fonctionnements, nos relations au territoire, à ses habitants...<br/>
                Qu’allons-nous en faire demain ?<br/>
                Qu’allons-nous faire ensemble, après ?<br/>
                Exprimez-vous !<br><br>
            </div>
        </div>

        <div id="lpCTA">
            <div class="center">
                <a href="https://exprimez-vous.territoireseducatifs09.org/">Parcourir notre consultation</a>
            </div>
        </div>

        {#
        <div id="postSelection">
            <div class="center">
                <h1>Les dernières doléances citoyennes</h1>
                <h2>Citoyens et élus... Partout en France !</h2>
                
                {% for document in documents %}
                    {% if loop.first or loop.index0 is divisible by(2) %}
                        <div class="cardColumn">
                    {% endif %}
                        {% include 'PolitizrFrontBundle:Document:_cardPublic.html.twig' %}
                    {% if loop.last or loop.index is divisible by(2) %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div id="lpCTA">
            <div class="center">
                <a href="{{ path('InscriptionChoice') }}">Inscription</a>
            </div>
        </div>
        #}

        <div id="lpArgu">
            <div class="center">
                <div class="lpLeftCol">
                    <p>
                        POLITIZR propose un réseau social de dialogue citoyen permettant de reconnecter les citoyen.ne.s et leurs élu.e.s.
                        <br/><br/>
                        Nous travaillons à améliorer la démocratie participative en proposant à nos utilisateurs citoyens et élus d'échanger via un espace de discussion qui favorise les échanges structurées et argumentées dans un temps long propice à la qualité du débat.
                    </p>
                    <img src="{{ asset('bundles/politizrfront/images/f-illustr01.jpg') }}">
                </div>
                {% include 'PolitizrFrontBundle:Public\\LandingPage:_blockAdvantages.html.twig' %}
            </div>
        </div>

        <div id="lpCTA">
            <div class="center">
                <a href="{{ path('Homepage') }}">Découvrir</a>
            </div>
        </div>

        {% include 'PolitizrFrontBundle:Public\\LandingPage:_blockMarianne.html.twig' %}

        <div id="lpContact">
            <div class="center">
                <div class="lpLeftCol">
                    Envie de donner votre avis plus rapidement?<br/>
                    Vous pouvez aussi simplement remplir ce questionnaire!
                </div>
                <div class="lpRightCol">
                    {% include 'PolitizrFrontBundle:Public\\LandingPage:_formContact.html.twig' with { 'phone': false, 'city' : true, 'automatic_creation': true } %}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}


{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url~'?v'~assets_version }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
