{# beta #}
{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription - {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerInscription.html.twig' with { 'type': 'choice' } %}
{% endblock header %}

{% block main %}
    {#
    <div id="alertIdCheck">
        <div class="center">
            <p>
                Candidat aux Sénatoriales? Venez expérimenter notre <a href="{{ path('LandingPage', { 'theme': 'offre-candidat-senatoriales-2017'}) }}">offre spéciale</a>!
            </p>
        </div>
    </div>
    #}

    <div id="main">
        <center>
            <div class="column column360">
                {% include 'PolitizrFrontBundle:Public:_cardAdvantagesCitizen.html.twig' %}
            </div><!-- keep comment mark this way : they prevent unwanted space between cols
            --><div class="column column360">
                {% include 'PolitizrFrontBundle:Public:_cardAdvantagesElected.html.twig' %}
            </div>
            <div class="footerXcolumns footer2columns">
                Déjà inscrit-e? <a href="{{ path('Login') }}">Identifiez-vous</a>
            </div>

            <div class="dataCarefull">
                {#
                <div class="dataCarefullVisions"> 
                    <img src="{{ asset('bundles/politizrfront/images/label-visions.jpg') }}">
                    <p>POLITIZR travaille avec l'équipe du <a href="https://visionspol.eu/projet-label/" target="_blank">label VISIONS</a> pour permettre aux utilisateurs de conserver la maîtrise sur l'exploitation des données les concernant.</p>
                </div>
                #}
                <div class="dataCarefullCnil">
                    <img src="{{ asset('bundles/politizrfront/images/label-cnil.jpg') }}">
                    <br/>
                    <h3>Politique de traitement des données personnelles</h3>
                    <p>
                    Les informations recueillies sur les formulaires d'inscription font l’objet d’un traitement informatique destiné uniquement au fonctionnement de la plateforme POLITIZR. Le destinataire des données personnelles est uniquement POLITIZR.
                    <br/><br/>
                    POLITIZR stocke le contenu que vous créez et votre activité sur la plateforme, tels que vos publications et votes, afin de pouvoir les faire apparaître pour les autres utilisateurs et favoriser l'interaction.
                    <br/><br/>
                    Votre email ne sera jamais partagé et vos données sont sauvegardées en toute sécurité. Vous pouvez contrôler ou supprimer vos données à tout moment depuis l'interface POLITIZR ou en contactant notre <a href="mailto:support@politizr.com">support</a>.
                    <br/><br/>
                    Consultez nos <a action="openCgu">Conditions Générales d'Utilisation</a> pour plus d'informations.
                </div>
            </div>
        </center>
    </div>
{% endblock main %}
